<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>

<body>

    <div class="heading">
        <h1>MedHelp</h1>
    </div>
    <div class="leftBar">
        <p>
            <form action="">
                {% csrf_token %}
                {{ searchForm }}
            </form>
        </p>
        <p>Image Library</p>
        <p>Video Library</p>
        <p>Notes</p>
        <p>Would you like to contribute something? Please click <a href="{% url 'contribute' %}"> here</a></p>
    </div>
    {% block body %}
    {% endblock %}

</body>

</html>