<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>

<body>

    <div class="heading">
        <h1>MedHelp</h1>
    </div>
    <div class="leftBar">
        <p>
            <form action="" method = "POST">
                {% csrf_token %}
                {{ searchForm }}
            </form>
        </p>
        <p> <a href=" {% url 'findPage' 'image' %}">Image Library</a> </p>
        <p> <a href=" {% url 'findPage' 'video' %}">Video Library</a></p>
        <p> <a href=" {% url 'findPage' 'notes' %}">Notes </a></p>
        
    </div>
    {% block body %}
    {% endblock %}

</body>

</html>