{% extends "WelcomeApp/layout.html"%}

{% block title %}
    <title>{{resourceName}}</title>
{% endblock %}

{% block body %}
   
    <div class="mainBody">
        Hi! We have Found {{resCount}} {{resourceName}} resources that matched your search
        {% if resCount == 0 %}
        <div>You can look for other resources <a href="{% url 'homePage' %}">here</a></div>
        {% else %}
            <table style="border: solid 2px black; border-collapse: collapse;">
                <tr>
                    <th style="border: solid 2px black;">Resource</th>
                    <th style="border: solid 2px black;">Author</th>
                    <th style="border: solid 2px black;">Date of Submission</th>
                    <th style="border: solid 2px black;">Link to {{resourceName}}</th>
                    <th style="border: solid 2px black;">{{resourceName}}</th>
                </tr>
                {% for r in resource %}
                <tr>
                    <td style="border: solid 2px black;">{{ r.resource_name }}</td>
                    <td style="border: solid 2px black;">{{ r.authors }}</td>
                    <td style="border: solid 2px black;">{{ r.dateSubmitted }}</td>
                    <td style="border: solid 2px black;">
                        {% if r.link != '' %}
                            <a href={{ r.link }}>Click Here</a>
                        {% endif %}
                    </td>
                    <td style="border: solid 2px black;">
                        {% if r.resourceFile.url != '' %}
                            {% if 'image' in r.resourceFile.url %}
                                <img src={{ r.resourceFile.url }} style="width: 300; height: 200;">
                            {% endif %}

                            {% if 'video' in r.resourceFile.url %}
                                <video controls src={{ r.resourceFile.url }} style="width: 300; height: 200;"></video>
                            {% endif %}

                            {% if 'article' in r.resourceFile.url %}
                                <a href={{ r.resourceFile.url }}>{{ r.resourceFile|cut:"articleResources/" }}</a>
                            {% endif %}
                            
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock %}